.box4 {
    gap: 25px;
    flex-direction: column;
}

.b {
    display: flex;
    gap: 25px;
}

.square {
    width: 40px;
    height: 40px;
    background-color: white;
    animation: opacity 1s linear;
    opacity: 0.4;
    animation-iteration-count: infinite;
}

@keyframes opacity {
    0% {
        opacity: 1;
    }

    20% {
        opacity: 0.7;
    }

    40% {
        opacity: 0.4;
    }
}

.b1 .square:first-child {
    animation-delay: 0s;
}

.b1 .square:nth-child(2) {
    animation-delay: 0.2s;
}

.b2 .square:nth-child(2) {
    animation-delay: 0.4s;
}

.b2 .square:first-child {
    animation-delay: 0.6s;
}