*{
margin: 0;
padding: 0;
box-sizing: border-box;
}
.flex{
    display: flex;
        justify-content: center;
        align-items: center;
}
body{
display: flex;
justify-content: center;
align-items: center;
background-color: orange;

}

.wrap{
width: calc(100vw - 200px);
height: 100vh;
overflow: hidden;
margin: auto;
display: flex;
}

.box{
flex-grow: 1;
height: calc(100vh -  300px);
border: 2px solid black;

}
